
body{
  background-color: #303030;
}
/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Set gray background color and 100% height */
.left {
  float: left;
  padding: 0 50px 50px 0;
}

.right {
  float: right;
  padding: 0 50px 50px 0;
}

/* Set black background color, white text and some padding */
footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: rgb(20, 25, 31);
  color: #fff;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {


}
.main{
  width: 100%;
  margin: 45px auto;
  background:rgba(255, 255, 255, 0.88);
  padding: 30px 30px;
}
.main h2 {
  color: #000000;
  font-size: 28px;
  text-align: center;
  margin-bottom: 30px;
  text-transform: capitalize;
  font-weight: 500;
}
