<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- Custom fonts for this template -->
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Plugin CSS -->
  <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Showing Time - Movie</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/1-col-portfolio.css" rel="stylesheet">

  </head>
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
  <div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" href="#">KMUTT THEATER</a>
  </div>
  <div class="collapse navbar-collapse" id="myNavbar">
  <ul class="nav navbar-nav">
    <li class="active"><a href="#">Home</a></li>
  </ul>
  <ul class="nav navbar-nav">
    <li class="active"><a href="#">Booking</a></li>
  </ul>
  <ul class="nav navbar-nav">
    <li class="active"><a href="#">Promotion</a></li>
  </ul>
  <ul class="nav navbar-nav">
    <li class="active"><a href="#">Register</a></li>
  </ul>
  <ul class="nav navbar-nav">
    <li class="active"><a href="#">About As</a></li>
  </ul>
  <ul class="nav navbar-nav">
    <li class="active"><a href="#">Profile</a></li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li><a href="register.html"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
    <li><a href="login.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
  </ul>
  </div>
  </nav>



        <!-- Navigation -->
        <!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
          <div class="container">
            <a class="navbar-brand navbar-center" href="#">CSC318 MOVIE</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home
                    <span class="sr-only">(current)</span>
                  </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="index.html#movies">MOVIES</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">PROMOTION</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">MEMBER CARD</a>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span>Log In/Sign Up</a></li>
              </ul>
            </div>
          </div>
        </nav>-->

    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading -->
      <h1 class="my-4"><button type="button" class="btn btn-lg btn-primary">STEP 2</button>
        <small>Select Showtime</small>
      </h1>

      <div class="card card-temp shadow-lg">
          <div class="container">
            <br>
            <div class="row">
              <div class="col-lg-4 col-md-6 mb-4">
                  <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="https://lh3.googleusercontent.com/8Lr1BMoZOxsSLoTZr6IxDZuLDiSc6oMTopLA2B-MhXbwxqpDguDHy8r_zj1430V2augHqTSdHsNjz6MYfbEm=w260" alt=""></a>
                  </div>
                </div>

                <div class="col-md-8">
                    <br><br><br><br>
                    <h4>Fantastic Beasts The Crimes of Grindelwald</h4>
                    <h7>Genre: Fantasy</h7><br>
                    <h7>Rate: G</h7><br>
                    <h7>135 Mins</h7><br><br>
                    <button type="button" class="btn btn-lg btn-default">MOVIE DETAIL</button>
                  </div>
              </div>
          </div>
        </div>
        <br><br><hr>

        <nav class="nav nav-pills nav-fill">
            <a class="nav-item nav-link active" href="#">Thu<br><small>15 Nov 2018</small></a>
            <a class="nav-item nav-link" href="#">Fri<br><small>16 Nov 2018</small></a>
            <a class="nav-item nav-link" href="#">Sat<br><small>17 Nov 2018</small></a>
            <a class="nav-item nav-link disabled" href="#">Mon<br><small>18 Nov 2018</small></a>
            <a class="nav-item nav-link disabled" href="#">Tue<br><small>19 Nov 2018</small></a>
          </nav>
         <hr>
      <!-- Project One -->
      <div class="card card-temp shadow-sm">
      <div class="row">
        <div class="col-lg-4 col-md-6 mb-4">
          <a href="#">
            <br><br>
            <center><img class="img-fluid rounded mb-3 mb-md-0" src="https://lh3.googleusercontent.com/1fVPsPOjLnZ3tNzeLrlcr-QKvV_9DUnRgEPXYWqkcmRpr6EPjAjanHquRzgLQZPJG9V78tzQ6sfL08Ma4S9W=h59" alt=""></center>
          </a>
        </div>
        <div class="col-md-5">
            <br>
          <h4>ENG</h4>
          <a class="btn btn-primary active" href="#">10:20</a>
          <a class="btn btn-outline-primary" href="#">12:20</a>
          <a class="btn btn-outline-primary" href="#">15:20</a>
          <a class="btn btn-outline-primary" href="#">17:20</a>
          <a class="btn btn-outline-primary" href="#">21:20</a>
        </div>
      </div>
      <!-- /.row -->

      <hr>

      <!-- Project Two -->
      <div class="row">
          <div class="col-lg-4 col-md-6 mb-45">
              <br><br>
              <h3><center>Digital Cinema</center></h3>
              <br><br>
            </div>

        <div class="col-md-5">
            <br>
          <h4>TH</h4>
          <a class="btn btn-primary active" href="#">15:00</a>
          <a class="btn btn-outline-primary" href="#">17:45</a>
          <a class="btn btn-outline-primary" href="#">21:15</a>

        </div>
      </div>
      <!-- /.row -->
      </div>
    </div>

    <br><br><br>
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
