.body-bg {
  background-color: #141414;
}

div {
    display: block;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.input-box {
  weight: 1% !important;
  margin-bottom: 60px;
}

.navbar-bg {
background: black;
}

.footer-bg {
background: black;
}

.navbar-color {
color: #770A18;
}
